extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Node App
    div.Message
      div.Title
        h3 Helping Devs
        h1 Manage their projects.
      span.Details Access the Team Portal
       div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Get Started!
      else
        a(href="/login")
          div.NavButton Log in!